In [1]:
import pandas as pd
# 读取候选人信息，添加表头
candidates = pd.read_csv("weball22.txt", sep = '|',names=['CAND_ID','CAND_NAME','CAND_ICI','PTY_CD','CAND_PTY_AFFILIATION','TTL_RECEIPTS',
                                                          'TRANS_FROM_AUTH','TTL_DISB','TRANS_TO_AUTH','COH_BOP','COH_COP','CAND_CONTRIB',
                                                          'CAND_LOANS','OTHER_LOANS','CAND_LOAN_REPAY','OTHER_LOAN_REPAY','DEBTS_OWED_BY',
                                                          'TTL_INDIV_CONTRIB','CAND_OFFICE_ST','CAND_OFFICE_DISTRICT','SPEC_ELECTION','PRIM_ELECTION','RUN_ELECTION'
                                                          ,'GEN_ELECTION','GEN_ELECTION_PRECENT','OTHER_POL_CMTE_CONTRIB','POL_PTY_CONTRIB',
                                                          'CVG_END_DT','INDIV_REFUNDS','CMTE_REFUNDS'])
candidates

,CAND_ID,CAND_NAME,CAND_ICI,PTY_CD,CAND_PTY_AFFILIATION,TTL_RECEIPTS,TRANS_FROM_AUTH,TTL_DISB,TRANS_TO_AUTH,COH_BOP,...,SPEC_ELECTION,PRIM_ELECTION,RUN_ELECTION,GEN_ELECTION,GEN_ELECTION_PRECENT,OTHER_POL_CMTE_CONTRIB,POL_PTY_CONTRIB,CVG_END_DT,INDIV_REFUNDS,CMTE_REFUNDS
0,H2AK00200,"CONSTANT, CHRISTOPHER",C,1,DEM,164637.90,0.00,164037.51,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,1000.00,5000.0,09/30/2022,8300.00,0.0
1,H2AK01158,"PELTOLA, MARY",I,1,DEM,1912264.52,0.00,790400.96,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,12500.00,5000.0,09/05/2022,18823.50,0.0
2,H2AK01240,"WOOL, ADAM L",O,1,DEM,16217.07,0.00,16217.07,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,07/15/2022,0.00,0.0
3,H2AK00218,"REVAK, JOSHUA CARL",O,2,REP,121841.00,0.00,121841.00,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,5000.00,0.0,09/16/2022,14600.00,0.0
4,H2AK00226,"PALIN, SARAH",O,2,REP,1556120.28,112737.77,1361350.32,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,69905.00,0.0,09/30/2022,500.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4095,S0WY00152,"BEN DAVID, MERAV",O,1,DEM,0.00,0.00,14278.00,0.0,14278.00,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,04/13/2021,0.00,0.0
4096,S0WY00137,"LUMMIS, CYNTHIA MARIE MRS.",I,2,REP,367850.30,103174.96,352180.98,0.0,114450.23,...,NaN,NaN,NaN,NaN,NaN,92830.44,0.0,09/30/2022,1380.25,5000.0
4097,S4WY00147,"MILLER, BRYAN",O,2,REP,0.00,0.00,0.00,0.0,0.00,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,06/30/2022,0.00,0.0
4098,S6WY00126,"ENZI, MICHAEL B",I,2,REP,410.00,0.00,253421.57,0.0,253011.57,...,NaN,NaN,NaN,NaN,NaN,0.00,0.0,09/30/2021,0.00,0.0
4099,S6WY00068,"BARRASSO, JOHN A",I,2,REP,1483119.58,77123.32,1323311.92,0.0,4121889.51,...,NaN,NaN,NaN,NaN,NaN,461275.00,0.0,09/30/2022,200.00,2500.0

In [2]:
# 读取候选人和委员会的联系信息
ccl = pd.read_csv("ccl.txt", sep = '|',names=['CAND_ID','CAND_ELECTION_YR','FEC_ELECTION_YR','CMTE_ID','CMTE_TP','CMTE_DSGN','LINKAGE_ID'])
ccl.head(20)

,CAND_ID,CAND_ELECTION_YR,FEC_ELECTION_YR,CMTE_ID,CMTE_TP,CMTE_DSGN,LINKAGE_ID
0,C00713602,2019,2022,C00712851,O,U,237862
1,H0AK00105,2020,2022,C00607515,H,P,237924
2,H0AL01055,2022,2022,C00697789,H,P,235900
3,H0AL01063,2020,2022,C00701557,H,P,236972
4,H0AL01097,2020,2022,C00708867,H,P,237208
5,H0AL02087,2020,2022,C00462143,H,P,235107
6,H0AL02087,2020,2022,C00493783,H,J,235132
7,H0AL02137,2020,2022,C00714337,H,P,238395
8,H0AL02145,2020,2022,C00715698,H,P,238252
9,H0AL02152,2020,2022,C00718411,H,P,237361
10,H0AL02160,2020,2022,C00723478,H,P,237357
11,H0AL02202,2022,2022,C00728873,H,P,237422
12,H0AL03192,2020,2022,C00681452,H,P,237113
13,H0AL05049,2008,2022,C00239038,N,U,239182
14,H0AL05205,2020,2022,C00701375,H,P,235984
15,H0AL06104,2020,2022,C00681213,H,P,236692
16,H0AL06112,2020,2022,C00696765,H,P,235890
17,H0AL07086,2022,2022,C00458976,H,P,234980
18,H0AL07193,2020,2022,C00723601,H,P,238869
19,H0AR01083,2022,2022,C00462374,H,P,235108

In [3]:
# 关联两个表数据，将candidates表拼到ccl表上
ccl = pd.merge(ccl,candidates)
# 提取出所需要的列
ccl = pd.DataFrame(ccl, columns=[ 'CMTE_ID','CAND_ID', 'CAND_NAME','CAND_PTY_AFFILIATION'])
ccl

        CMTE_ID    CAND_ID                     CAND_NAME CAND_PTY_AFFILIATION
0     C00697789  H0AL01055           CARL, JERRY LEE, JR                  REP
1     C00701557  H0AL01063  LAMBERT, DOUGLAS WESTLEY III                  REP
2     C00708867  H0AL01097               AVERHART, JAMES                  DEM
3     C00462143  H0AL02087                  ROBY, MARTHA                  REP
4     C00493783  H0AL02087                  ROBY, MARTHA                  REP
...         ...        ...                           ...                  ...
4396  C00652131  S8WI00216              NICHOLSON, KEVIN                  REP
4397  C00655522  S8WI00224                  VUKMIR, LEAH                  REP
4398  C00708891  S8WV00119        SWEARENGIN, PAULA JEAN                  DEM
4399  C00640219  S8WV00119        SWEARENGIN, PAULA JEAN                  DEM
4400  C00548271  S8WV00127               JENKINS, EVAN H                  REP

[4401 rows x 4 columns]